BasedOnStyle: Google

Language: Cpp
Standard: Latest

ColumnLimit: 120

IndentWidth: 4
ContinuationIndentWidth: 4
TabWidth: 4
UseTab: Never

IndentAccessModifiers: true
AccessModifierOffset: 0

EmptyLineAfterAccessModifier: Always
MaxEmptyLinesToKeep: 1

KeepEmptyLines:
  AtStartOfBlock: true